/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css?family=Poppins:wght2200;300;400;500;600;700&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #130f2d;
}
.wrapper{
    background: rgba(255, 255, 255, 0.814);
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* signup Form CSS Code */
/* .form{
    padding: 25px 30px;
}
.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.form form{
    margin: 20px 0;
}
.form form .error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}
.form form .name-details{
    display: flex;
}
form .name-details .field:first-child{
    margin-right: 10px;
}
form .name-details .field:last-child{
    margin-left: 10px;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .field label{
    margin-bottom: 2px;
}
.form form .field input{
    outline: none;
}
.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form form .image input{
    font-size: 17px;
} */ */
/* .form form .button button{
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form form .field i.active::before{
    color: #333;
    content: "\f070";
}
.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}
.form .link a{
    color: #333;
}
.form .link a:hover{
    text-decoration: underline;
} */


/* fetched results */
/* .empty{
    background: rgba(255, 255, 255, 0.814);
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
} */



/* real project css */
*, *::after, *::before, .root{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a:hover, button:hover{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar{
    height: 60px;
    width: 100%;
}

.main{
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
    /* background-color: rgb(248, 248, 209); */
    flex-direction: row;
}

.sidemenu{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 12%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    background-color: rgb(255, 255, 255);
}

.views{
    margin-left: 10px;
    display: flex;
    width: 90%;
    height: 100%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.left{
    /* border-radius: 10px; */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    display: flex;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.right{
    /* border-radius: 10px; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

/* navigation bar */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04AA6D;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: #0d8559;
}

/* side menu */
.sidemenu ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(234, 250, 239); */
}
.sidemenu li {
    position: relative;
    width: 100%;
    float: left;
}

.sidemenu li a {
    display: block;
    color: rgb(42, 42, 42);
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: rgba(0, 0, 0, 0.085) solid;
    border-width: 1px;
}

.sidemenu ul li:last-child a{
    color: rgb(233, 28, 28);
}
.sidemenu ul li:last-child a:hover{
    color: rgb(244, 244, 244);
    background-color: rgb(226, 171, 167);
}

.sidemenu li a:hover{
    color: rgb(244, 244, 244);
    background-color: rgb(162, 162, 162);
}

/* form */
form {
    font-size: 15px;
    margin: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7); 
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.info {
    display: flex;
    flex-direction: column;
}
input, select{
    height: 30px;
    padding: 5px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(226, 226, 226);
}
input{
    height: 20px;
}
input::placeholder {
    color: rgb(90, 90, 90);
}
option:focus {
    border: none;
}
option {
    display: block;
    height: 200px;
    border: none;
}
label{
    display: none;
    margin-bottom: 10px;
}
.btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #04AA6D; 
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
.btn-item {
    display: inline-block;
    margin: 20px 5px 0;
}
button {
    width: 100%;
}
button:hover, .btn-item:hover {
    background: rgb(16, 105, 40);
}

/* table */
.details{
    display: block;
    border-radius: 10px;
    margin-bottom: 50px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.details::-webkit-scrollbar{
    display: none;
}
.patients {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    /* margin: 10px; */
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.patients td, .patients th {
    padding: 10px;
}

.patients tr:nth-child(even){background-color: #f2f2f2;}

.patients tr:hover {background-color: #ddd;}

.patients th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
.patients th:not(:last-child){
    border-right: #063b2443 solid;
}
.patients tr td:not(:last-child){
    border-right: rgba(0, 0, 0, 0.199) solid;
}
.patients tr td:nth-last-child(2) a{padding: 5px; color: white; background-color: #24a8c6; text-decoration: none; border-radius: 3px;}
.patients tr td:nth-last-child(1) a{padding: 5px 8px; color: white; background-color: #dd512f; text-decoration: none; border-radius: 3px;}
.patients tr td:nth-last-child(2) a:hover{background-color: #1b8aa3; }
.patients tr td:nth-last-child(1) a:hover{background-color: #c24628; }

td:nth-last-child(2) {
    padding-left: calc(2%);
    justify-content: center;
}
td:nth-last-child(1) {
    padding-left: calc(8%);
    display: flex;
    justify-content: center;
}

.right h2{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}
