*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    background-color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar{
    height: 60px;
    width: 100%;
}

.main{
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
    /* background-color: rgb(248, 248, 209); */
    flex-direction: row;
}

.sidemenu{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 10%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    background-color: rgb(255, 255, 255);
}

.views{
    margin-left: 10px;
    display: flex;
    width: 90%;
    height: 100%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.left{
    /* border-radius: 10px; */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    display: flex;
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.right{
    /* border-radius: 10px; */
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
}
.right::-webkit-scrollbar{
    display: none;
}


/* navigation bar */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04AA6D;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: #0d8559;
}

/* side menu */
.sidemenu ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(234, 250, 239); */
}
.sidemenu li {
    position: relative;
    width: 100%;
    float: left;
}

.sidemenu li a {
    display: block;
    color: rgb(42, 42, 42);
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: rgba(0, 0, 0, 0.085) solid;
    border-width: 1px;
}

.sidemenu ul li:last-child a{
    color: rgb(233, 28, 28);
}
.sidemenu ul li:last-child a:hover{
    color: rgb(244, 244, 244);
    background-color: rgb(226, 171, 167);
}

.sidemenu li a:hover{
    color: rgb(244, 244, 244);
    background-color: rgb(162, 162, 162);
}

/* form */
form {
    font-size: 15px;
    margin: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7); 
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.info {
    display: flex;
    flex-direction: column;
}
input, select {
    height: 30px;
    padding: 5px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #eee;
}
input::placeholder {
    color: rgb(90, 90, 90);
}
option:focus {
    border: none;
}
option {
    border: none;
}
.btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #26e02fc6; 
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
.btn-item {
    display: inline-block;
    margin: 20px 5px 0;
}
button {
    width: 100%;
}
button:hover, .btn-item:hover {
    background: #24c63f;
}

/* table */
.patients {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    height: fit-content;
    /* margin: 10px; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.patients td, .patients th {
    padding: 10px;
}

.patients tr:nth-child(even){background-color: #f2f2f2;}

.patients tr:hover {background-color: #ddd;}

.patients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.patients tr td:nth-child(4) a{color: #24c63f; text-decoration: none;}
.patients tr td:nth-child(5) a{color: #c64424; text-decoration: none;}

.right h2{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}